*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
}

#proj {
    background-color: #f5f0e1;
}
#cont {
    background-color: #0a192f ;
    color:#f0f0f0;
    margin-left: 0px;
    margin-right: 0px;
}

#container_cont {
    display: flex;
    height: auto;
    background-color:#0a192f;
    color:#f0f0f0;


}

#cont_left {
    width: 300px;


}

#cont_right {
   margin-left: 250px; 
   text-align: left;

}

#container_main {
    display: flex; 
    height: 100vh; 
}

table, th, td {
    
            border: 1px ;
            border-collapse: collapse; /* Merges adjacent borders */
            padding: 8px;
            text-align: justify;
            
            
        }
      

#left{
    width: 350px; 
    background-color:#0a192f;
    color:#f0f0f0;
    text-align:right;
    display: flex;             
    align-items: center;      

    padding: 15px;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    bottom: 0; 
}

#right{
    margin-left: 350px; 
    
    flex-grow: 1; 
    padding: 10px;
    background-color: #fff;
    overflow-y: scroll; 
    height: 100vh; 
    box-sizing: border-box;
}

.right_button{
        background-color: white;
        color: black;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        display: flex;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 8px;
        

}




